---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Sidebar from '../components/Sidebar.astro';
import Content from '../components/Content.astro'
---

<Layout title="Portafolio Charles A. Cervantes">
	<main class="main-layout">
		<Sidebar />
		<Content />
	</main>
</Layout>

<style>
	/* Estilos comunes */
	main {
		margin: auto;
        max-width: 1200px; /* Limita el ancho máximo para evitar desbordamiento */
		padding: 1rem;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

	/* Estilos para pantallas grandes (Desktop) */
	@media (min-width: 768px) {
		.main-layout {
			display: flex;
			flex-direction: row; /* Coloca el Sidebar y el Content lado a lado */
			flex-wrap: nowrap;
			gap: 1rem; /* Espacio entre Sidebar y Content */
			width: 90%;
			max-width: 100vw; /* Limita el ancho máximo para evitar desbordamiento */
			margin: 0 auto; /* Centra el contenedor */
		}
	}

	/* Estilos para pantallas pequeñas (Celular) */
	@media (max-width: 768px) {
		.main-layout {
			display: flex;
			flex-direction: column; /* Coloca Sidebar y Content en columnas */
			flex-wrap: nowrap;
			gap: 1rem; /* Espacio menor para pantallas pequeñas */
			width: 90%;
			margin: 0 auto;
		}
	}

	/* Asegúrate de que no haya desbordamiento horizontal */
	html, body {
		overflow-x: hidden;
	}
</style>


