---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Sidebar from '../components/Sidebar.astro';
import Content from '../components/Content.astro'
---

<Layout title="Portafolio Charles A. Cervantes">
	<main class="main-layout">
		<Sidebar />
		<Content />
	</main>
</Layout>

<style>
	/* Estilos comunes */
	main {
		margin: auto;
		padding: 1rem;
		color: white;
	}

	/* Estilos para pantallas grandes (Desktop) */
	@media (min-width: 768px) {
		.main-layout {
			display: flex;
			flex-direction: row; 
			flex-wrap: nowrap;
			gap: 1rem; 
			/* width: 90%; */
			max-width: 100vw; 
			margin: 0 auto; 
			justify-content: space-between;
		}
	}

	/* Estilos para pantallas pequeñas (Celular) */
	@media (max-width: 768px) {
		.main-layout {
			display: flex;
			flex-direction: column; /* Coloca Sidebar y Content en columnas */
			flex-wrap: nowrap;
			gap: 1rem; /* Espacio menor para pantallas pequeñas */
			width: 90%;
			margin: 0 auto;
		}
	}

	/* Asegúrate de que no haya desbordamiento horizontal */
	html, body {
		overflow-x: hidden;
	}
</style>


