---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Sidebar from '../components/Sidebar.astro';
import Content from '../components/Content.astro'
---

<Layout title="Portafolio Charles A. Cervantes">
	<main class="main-layout">
		<Sidebar />
		<Content />
	</main>
</Layout>

<style>
	/* # # # # # Desktop # # # # #  */

	@media (min-width: 768px) {
		main {
			display: flex;
			margin: auto;
			padding: 1rem;
			color: white;
			font-size: 20px;
			line-height: 1.6;
		}

		.main-layout {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
		}
	}

	/* # # # # # Celular # # # # #  */

	@media (max-width: 768px) {
		main {
			display: flex;
			margin: auto;
			padding: 1rem;
			color: white;
			font-size: 20px;
			line-height: 1.6;
		}

		.main-layout {
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
		}
	}

</style>
