---
const title = 'Portfolio'
---

<main class="content">
    <nav class="menu">
        <ul>
            <li><a href="#about">About</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#contact">Contacto</a></li>
        </ul>
    </nav>
</main>

<style>
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    html, body {
        overflow-x: hidden;
        width: 100%;
    }

    .content {
        background-color: #2a2d38;
        border-radius: 1rem;
    }

    .menu {
        display: flex;
        justify-content: flex-end; /* Alinea el menú hacia la derecha */
        background-color: #1e2028;
        padding: 0.75rem;
        margin-left: auto; /* Empuja el menú hacia la derecha */
        border-bottom-left-radius: 0.7rem;
        max-width: fit-content; /* Solo ocupa el espacio necesario */

        ul {
            display: flex;
            list-style: none;
            gap: 1.5rem; /* Espacio entre los elementos */
        }

        li {
            margin: 0;
        }

        a {
            color: #ccc;
            text-decoration: none;
            font-size: 1rem;
            padding: 0.5rem 1rem;
            display: block;
            border-radius: 0.5rem;
            transition: background-color 0.3s ease, color 0.3s ease;
        }

        a:hover {
            background-color: #ffc107; /* Color amarillo de fondo al hacer hover */
            color: #000;
        }
    }

    /* Media query para pantallas grandes */
    @media (min-width: 768px) {
        .content {
            width: 80%; /* El contenido ocupa el 80% del ancho */
        }
    }

    /* Media query para pantallas pequeñas */
    @media (max-width: 768px) {
        .content {
            width: 100%; /* El contenido ocupa el 100% en pantallas pequeñas */
        }
    }
</style>
