<main class="sidebar">
    <div class="myCard">
        <div class="divImg">
            <img src="/fotoDePerfil.jpg" alt="Foto de perfil" class="profile-img">
        </div>

        <div class="divName">
            <h2>Charles Anthony</h2>
            <span class="role">Ingeniero en computacion administrativa</span>
        </div>
    </div>
</main>

<style>
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    html, body {
        overflow-x: hidden;
        width: 100%;
    }

    .sidebar {
        background-color: #282f30;
        border-radius: 1rem;
        padding: 1rem;
    }

    h2 {
        margin: 1rem 0;
    }

    .role {
        font-size: var(--font-size-xs);
        color: #999;
        display: block;
        margin-bottom: 1rem;
    }

    /* Computadora */
    @media (min-width: 768px) {
        h2 {
            font-size: var(--font-size-xs);
            width: 100%;
            justify-content: center;
            display: flex;
        }

        .role {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        .sidebar {
            width: 20%; /* Sidebar ocupa el 20% en pantallas grandes */
            min-width: 200px; /* Mínimo tamaño para sidebar */
        }

        .myCard img {
            max-width: 60%;
            width: 100%;
            height: auto;
            border-radius: 50%;
            object-fit: cover;
        }

        .divImg {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
        }
    }

    /* Celular */
    @media (max-width: 768px) {

        .sidebar {
            width: 100%; /* Sidebar ocupa el 100% en pantallas pequeñas */
            margin-bottom: 1rem;
        }

        .myCard img {
            max-width: 90%;
            width: 100%;
            height: auto;
            border-radius: 50%;
            object-fit: cover;
        }

        .divImg {
            display: flex;
            width: 20%;
            justify-items: center;
            align-items: center;
        }

        .myCard {
            display: flex;
        }

        .divName {
            /* display: flex; */
            /* justify-items: flex-start; */
        }
    }
</style>
