---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--font-size-base: 1rem; /* 16px por defecto */
		--font-size-small: 0.875rem; /* 14px */
		--font-size-large: 1.25rem; /* 20px */
	}

	@media (min-width: 768px) {
		:root {
			--font-size-base: 1.125rem; /* 18px */
			--font-size-small: 1rem; /* 16px */
			--font-size-large: 1.5rem; /* 24px */
		}
	}

	@media (min-width: 1024px) {
		:root {
			--font-size-base: 1.25rem; /* 20px */
			--font-size-small: 1.125rem; /* 18px */
			--font-size-large: 1.75rem; /* 28px */
		}
	}

	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		font-size: var(--font-size-base); /* Base font size */
	}

	h1, h2, h3 {
		font-size: var(--font-size-large); /* Para encabezados */
	}

	p {
		font-size: var(--font-size-base); /* Tamaño base para párrafos */
		line-height: 1.6;
	}

	small {
		font-size: var(--font-size-small); /* Para texto más pequeño */
	}

	code {
		font-family: 
			Menlo, 
			Monaco, 
			Lucida Console, 
			Liberation Mono, 
			DejaVu Sans Mono, 
			Bitstream Vera Sans Mono, 
			Courier New, 
			monospace;
		font-size: var(--font-size-small); /* Tamaño para texto de código */
	}
</style>
